beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Django==2.0.6
django-colorful==1.2
django-el-pagination==3.2.4
django-modelcluster==4.1
django-social-share==1.1.2
django-taggit==0.22.2
django-treebeard==4.3
djangorestframework==3.8.2
draftjs-exporter==2.0.0
html5lib==0.999999999
idna==2.6
Jinja2==2.10
l18n==2016.6.4
livereload==2.5.2
Markdown==2.6.11
MarkupSafe==1.0
mkdocs==1.0.3
mkdocs-bootswatch==1.0
Pillow==5.1.0
pytz==2018.4
PyYAML==3.13
requests==2.18.4
six==1.11.0
tornado==5.1
Unidecode==0.4.21
urllib3==1.22
wagtail==2.0.1
webencodings==0.5.1
Willow==1.1
